.line--hr{
	font-weight: 100%;
}

.audio{
	margin-left: 43%;
	margin-bottom: 25px;
}

.home--page{
	margin-top: 1%;
	margin-left: 4%;
}

.pog{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	border: 4px solid black;
	padding: 4px;
	padding-right: 30px;
}

.monke{
	margin-top: 20px;
	width: 100%;
	border: 4px solid black;
	padding: 4px;
	padding-right: 30px;
}

.champ{
	width: 100%;
	border: 4px solid black;
	padding: 4px;
	padding-right: 30px;
	border-top: 2px;
}
