<!DOCTYPE>
<html lang="en">
<head>
	<meta charset="UTF=8">
	<title>Divfay</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<!-- HEADER -->
	<a href="/audio" class="link">Audio-page</a>
	<div class="htwo">Главная</div>
	<hr class="hr_header">

	<!-- CONTENT -->
	
	<content>
		<div class="greeting">
			<div>Главная страница.</div>
			<p>Различные аудио-мемы.</p>
		</div>
		
		<img src="static/logo.png" width="650px" height="470px" class="image">
	</content>
	<!-- FOOTER -->
	<hr>
	<div class="container">
	<img src="static/Telegram_icon.png" width="40px" height="40px"><a href="https://t.me/divfaybot"><div class="item">Telegram Bot</div></a>
	<img src="static/Telegram_icon.png" width="40px" height="40px"><a href="https://t.me/divfay"><div class="item">Telegram-канал</div></a>
	</div>
</body>
</html>